* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    /* background-color: #1f1f1f; */
}

.welcome {
    /* position: absolute; */
    font-family: 'Kosugi', sans-serif;
    font-size: 8em;
    /* width: 100%; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    animation-name: welcome;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
    animation-delay: 5.4s;
}

.header01 {
    position: fixed;
    display: block;
    background-color: #3f3f3f;
    height: 2.4em;
    width: 100%;
    visibility: hidden;
    animation-name: showHeader;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 4.4s;
}

.nav01 {
    position: fixed;
    display: flex;
    font-family: 'Play', sans-serif;
    font-size: 1.6em;
    color: #fafafa;
    width: 100%;
}

.navTitle {
    position: absolute;
    margin: 0.1em 0;
    top: 50%;
    left: 50%;
    transform: translateY(0%) translateX(-50%);
}

.navLogin {
    position: absolute;
    text-decoration: none;
    top: 50%;
    left: 90%;
    transform: translateY(20%) translateX(0%);
}

.navLogin:link, .navLogin:visited, .navLogin:hover, .navLogin:active {
    color: #fafafa;
}

.shutter {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    height: 100%;
    width: 100%;
    animation-name: byeShutter;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 2.6s;
}

.warspite_shutter {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.showspite {
    position: absolute;
    font-size: 7vw;
    font-family: 'Play', sans-serif;
    color: #3f3f3f;
    animation: showspite01 1.7s forwards, byeShutter 0.6s 4s forwards;
}

.horizontal01 {
    position: relative;
    width: 0vw;
    height: 0vw;
    bottom: 3.5vw;
    left: 22.5vw;
    background: #ac1919;
    /* -webkit-animation: horizontal01 1s forwards; */
    animation: horizontal01 0.6s forwards;
}

.horizontal02 {
    position: relative;
    top: 5vw;
    right: 22.5vw;
    width: 0px;
    height: 0px;
    background: #3f3f3f;
    /* -webkit-animation: horizontal02 1s forwards; */
    animation: horizontal02 0.6s forwards;
}

@keyframes showspite01 {
    0% {
        opacity: 0;
    }
    74% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes horizontal01 {
    0% {
        width: 0vw;
        height: 0.6vw;
        margin-left: 50vw;
    }
    100% {
        width: 45vw;
        height: 0.6vw;
    }
}

@keyframes horizontal02 {
    0% {
        width: 0vw;
        height: 0.6vw;
        margin-right: 50vw;
    }
    100% {
        width: 45vw;
        height: 0.6vw;
    }
}

@keyframes byeShutter {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden
    }
}

@keyframes showHeader {
    0% {
        transform: translateY(-6vw);
    }
    100% {
        visibility: visible;
        transform: translateY(0vw);
    }
}

@keyframes welcome {
    0% { visibility: visible; opacity: 0;}
    100% { visibility: visible; opacity: 1;}
}