#wrapper01 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#container01 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4em 4%;
  height: 10em;
  width: 100%;
  /* background: lightgrey; */
  background: linear-gradient(180deg, #242424 90%, #ff000000 80%),
    linear-gradient(90deg, #5fbfff 0%, #7f7fff 30%, #ff47ff 100%);
  border-radius: 1em;
}

#svg_div {
  background-repeat: no-repeat;
  background-position: center;
}

@media only screen and (max-width: 480px) {
  #svg_div {
    margin: 0 1em 0.8em;
    height: 6em;
    width: 100%;
    background-image: url('/assets/img/BiggerThanAtoms_mobile_white.svg');
  }
}

@media only screen and (min-width: 481px) {
  #svg_div {
    margin: 0 2em;
    height: 5em;
    width: 100%;
    background-image: url('/assets/img/BiggerThanAtoms_white.svg');
  }
}
