#wrapper02 {
  margin: 0 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.icon01 {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 2em;
  width: 14em;
  height: 14em;
  border-radius: 0.8em;
  box-shadow: 0 0 0.4em black;
}

.icon01 header {
  margin: 0.4em 0;
  /* padding: 0.2em 0.8em; */

  font-size: 2em;
  font-weight: 700;
  text-align: center;

  /* background: #3f3f3f;
  border-radius: 0.2em;
  box-shadow: 0 0 0.4em #000000; */
  /* box-shadow: 0 0.3em 0.2em -0.2em #ff2727be; */
}

.icon01 main {
  width: 9em;
}

.icon01:hover {
  animation-name: icon01hover;
  animation-duration: 0.15s;
  animation-fill-mode: forwards;
}

@keyframes icon01hover {
  100% {
    box-shadow: 0 0 0.7em black;
  }
}